/dotfiles/.vim/**
!/dotfiles/.vim/**/
!/dotfiles/.vim/**/.keep
!/dotfiles/.vim/rc.d
!/dotfiles/.vim/rc.d/**
/dotfiles/.vim/rc.d/local

/dotfiles/.zsh/**
!/dotfiles/.zsh/**/
!/dotfiles/.zsh/rc.d
!/dotfiles/.zsh/rc.d/**
/dotfiles/.zsh/rc.d/local

dotconfig/nushell/*
!dotconfig/nushell/config.nu
!dotconfig/nushell/env.nu
